@font-face {
    font-family: "Poppins Regular";   /*Can be any text*/
    src:
      url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins Thin";   /*Can be any text*/
    src:
      url("../assets/fonts/Poppins-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins Medium";   /*Can be any text*/
    src:
      url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins Light";   /*Can be any text*/
    src:
      url("../assets/fonts/Poppins-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins ExtraLight";   /*Can be any text*/
    src:
      url("../assets/fonts/Poppins-Extralight.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins Bold";   /*Can be any text*/
    src:
      url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Poppins SemiBold";   /*Can be any text*/
    src:
      url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Poppins Black";   /*Can be any text*/
    src:
      url("../assets/fonts/Poppins-Black.ttf") format("truetype");
  }

  @font-face {
    font-family: "Poppins ExtraBold";   /*Can be any text*/
    src:
      url("../assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  }