@import "boxicons/css/boxicons.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-link: #535bf2;
  --color-primary: #1D1616;
  --color-secondary: #8E1616;
  --color-thirty:#D84040;
  --color-fifty: #EEEEEE;
  color-scheme: light dark;
}


.languages {
  -webkit-box-shadow: 3px 3px 5px 3px #dddddd;
  -moz-box-shadow: 3px 3px 5px 3px #dddddd;
  box-shadow: 3px 3px 5px 3px #dddddd;
  transition: all .5s .2s, opacity .2s;
}
body{
  color: var(--color-primary);
}
ul{
  list-style: none;
}
.language-picker__item{
  display: flex
;
  align-items: center;
  text-decoration: none;
  padding: 10px 15px;
  transition: background .2s;
}

.language-picker__button .icon {
  height: 16px;
  width: 16px;
}
.language-picker__button .icon:last-of-type {
  margin-left: 5px;
}
.language-picker__button .icon:first-of-type{
  margin-right: 5px;
}
.header{
  -webkit-box-shadow: 0 0.5px 4px 1px #dddddd;
  -moz-box-shadow: 0 0.5px 4px 1px #dddddd;
  box-shadow: 0 0.5px 4px 1px #dddddd;
  background-color: #fff;
}
.header a{
  position: relative;
}
.header .navi a:hover{
  color: var(--color-thirty);
}
.header .navi a.active{
  color: var(--color-secondary);
}
.header .navi a.active::before{
  content: '';
  position: absolute;
  left: -10px;
  border-radius: 50%;
  top: 0;
  width: 25px;
  height: 25px;
  background-color: var(--color-secondary);
  opacity: .4;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.menu {
  border-radius: 8px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
  span{
    display: flex;
    align-items: center;
  }
}
.boxShadow{
  -webkit-box-shadow: 0 0.5px 4px 1px #dddddd;
  -moz-box-shadow: 0 0.5px 4px 1px #dddddd;
  box-shadow: 0 0.5px 4px 1px #dddddd;
}
/*********************************CONTACT************/
.contact-info-box .contact-icon {
  color: var(--color-fifty);
  font-size: 16px;
  margin-bottom: 24px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: var(--color-thirty);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 0;
}
.contact-info-box {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.contact-info {
  margin-bottom: 61px;
  float: left;
  padding-top: 10px;
}
.contact-desc {
  margin-left: 80px;
  text-align: left;
}
.contact-form textarea.form-control {
  height: 200px;
  resize: inherit;
}
.contact-info-box h5 {
  font-size: 21px;
  position: relative;
  padding-bottom: 0;
}
.section-heading {
  margin: 0px 0px 70px;
}
.section-heading h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 5px;
  padding-bottom: 10px;
  text-transform: capitalize;
  position: relative;
  display: inline-block;
}
.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 0;
  height: 47px;
  border: 2px solid #dadddc;
  background-color: transparent;
  box-shadow: none;
  line-height: 1.42857143;
  color: var(--color-primary);
  font-size: 15px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.contact-form .form-group {
  margin-bottom: 30px;
}
.contact-form .form-group {
  float: left;
  width: 100%;
}
.btn {
  padding: 11px 32px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  border: 2px solid transparent;
  border-radius: 50px;
}
.btn-primary {
  background: var(--color-thirty);
  border-color: var(--color-thirty);
}

