@import "boxicons/css/boxicons.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-link: #535bf2;
  --color-primary: #1D1616;
  --color-secondary: #8E1616;
  --color-thirty:#D84040;
  --color-fifty: #EEEEEE;
  color-scheme: light dark;
}
*{
  box-sizing: border-box;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body{
  overflow-x: hidden;
}
.languages {
  -webkit-box-shadow: 3px 3px 5px 3px #dddddd;
  -moz-box-shadow: 3px 3px 5px 3px #dddddd;
  box-shadow: 3px 3px 5px 3px #dddddd;
  transition: all .5s .2s, opacity .2s;
}
body{
  color: var(--color-primary);
}
ul{
  /*list-style: none;*/
}
.language-picker__item{
  display: flex
;
  align-items: center;
  text-decoration: none;
  padding: 10px 15px;
  transition: background .2s;
}
.styles_isotope-container__3X0JH{
    width: calc(100% - 8.5%);
    height: 100%;
}
.siteInfo:hover{
  span{
    display: block;
  }
  p{
    display: block;
  }
}
.language-picker__button .icon {
  height: 16px;
  width: 16px;
}
.language-picker__button .icon:last-of-type {
  margin-left: 5px;
}
.language-picker__button .icon:first-of-type{
  margin-right: 5px;
}
.header{
  -webkit-box-shadow: 0 0.5px 4px 1px #dddddd;
  -moz-box-shadow: 0 0.5px 4px 1px #dddddd;
  box-shadow: 0 0.5px 4px 1px #dddddd;
  background-color: #fff;
}
.navi a{
  position: relative;
}
.navi a:hover{
  color: var(--color-thirty);
}
.navi a.active{
  color: var(--color-secondary);
}
.radius{
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.navi a.active::before{
  content: '';
  position: absolute;
  left: -10px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: var(--color-secondary);
  opacity: .4;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.menu {
  border-radius: 8px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
  span{
    display: flex;
    align-items: center;
  }
}
.boxShadow{
  -webkit-box-shadow: 0 0.5px 4px 1px #dddddd;
  -moz-box-shadow: 0 0.5px 4px 1px #dddddd;
  box-shadow: 0 0.5px 4px 1px #dddddd;
}
/*********************************CONTACT************/
.contact-info-box .contact-icon {
  color: var(--color-fifty);
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: var(--color-thirty);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.contact-info-box {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.contact-info {
  margin-bottom: 61px;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-desc {
  text-align: left;
}
.contact-form textarea.form-control {
  height: 200px;
  resize: inherit;
}
.contact-info-box h5 {
  font-size: 21px;
  position: relative;
  padding-bottom: 0;
}
.section-heading {
  margin: 0px 0px 70px;
}
.section-heading h2 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 5px;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}
.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 0;
  height: 47px;
  border: 1px solid #aaa;
  background-color: margintransparent;
  box-shadow: none;
  line-height: 1.42857143;
  color: var(--color-primary);
  font-size: 15px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.contact-form .form-group {
  margin-bottom: 30px;
}
.contact-form .form-group {
  float: left;
  width: 100%;
}
.btn {
  padding: 11px 32px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  border: 2px solid transparent;
  border-radius: 50px;
}
.btn-primary {
  background: var(--color-thirty);
  border-color: var(--color-thirty);
}
.dropping-texts {
  display: inline-block;
  height: 100px;
  vertical-align: -2px;
  overflow-y: hidden;
  position: relative; /* Ajouté pour positionner les éléments correctement */
}
.dev{
  color: coral;
  font-weight: 500;
}
.dropping-texts > div {
  text-transform: uppercase;
  color: #0000;
  font-size: 35px;
  font-weight: bold;
  background: 
    repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 50%/2500px 2500px;
  background-blend-mode: difference;
  mix-blend-mode: lighten;
  -webkit-background-clip: text;
          background-clip: text;
  
  position: absolute; /* Position absolue pour éviter le chevauchement */
  top: 0;
  left: 0;
  opacity: 0; /* Masquer par défaut */
  transform: translateY(-50px);
  animation: roll 15s linear infinite; /* Animation appliquée à tous les éléments */
}

.dropping-texts > div:nth-child(1) {
  animation-delay: 0s; /* Délai pour le premier élément */
}
.dropping-texts > div:nth-child(2) {
  animation-delay: 3s; /* Délai pour le deuxième élément */
}
.dropping-texts > div:nth-child(3) {
  animation-delay: 6s; /* Délai pour le troisième élément */
}
.dropping-texts > div:nth-child(4) {
  animation-delay: 9s; /* Délai pour le quatrième élément */
}
.dropping-texts > div:nth-child(5) {
  animation-delay: 12s; /* Délai pour le cinquième élément */
}

@keyframes roll {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

