@import "boxicons/css/boxicons.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-link: #535bf2;
  --color-primary: #1D1616;
  --color-secondary: #8E1616;
  --color-thirty:#D84040;
  --color-fifty: #EEEEEE;
  color-scheme: light dark;
}


.languages {
  -webkit-box-shadow: 3px 3px 5px 3px #dddddd;
  -moz-box-shadow: 3px 3px 5px 3px #dddddd;
  box-shadow: 3px 3px 5px 3px #dddddd;
  transition: all .5s .2s, opacity .2s;
}
body{
  color: var(--color-primary);
}
ul{
  list-style: none;
}
.language-picker__item{
  display: flex
;
  align-items: center;
  text-decoration: none;
  padding: 10px 15px;
  transition: background .2s;
}

.language-picker__button .icon {
  height: 16px;
  width: 16px;
}
.language-picker__button .icon:last-of-type {
  margin-left: 5px;
}
.language-picker__button .icon:first-of-type{
  margin-right: 5px;
}
.header{
  -webkit-box-shadow: 0 0.5px 4px 1px #dddddd;
  -moz-box-shadow: 0 0.5px 4px 1px #dddddd;
  box-shadow: 0 0.5px 4px 1px #dddddd;
  background-color: #fff;
}
.header a{
  position: relative;
}
.header .navi a:hover{
  color: var(--color-thirty);
}
.header .navi a.active{
  color: var(--color-secondary);
}
.header .navi a.active::before{
  content: '';
  position: absolute;
  left: -10px;
  border-radius: 50%;
  top: 0;
  width: 25px;
  height: 25px;
  background-color: var(--color-secondary);
  opacity: .4;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  border-radius: 8px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
  span{
    display: flex;
    align-items: center;
  }
}
.boxShadow{
  -webkit-box-shadow: 0 0.5px 4px 1px #dddddd;
  -moz-box-shadow: 0 0.5px 4px 1px #dddddd;
  box-shadow: 0 0.5px 4px 1px #dddddd;
}


